/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d6efd;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.navbar-userprofile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}