apiVersion: v1
kind: Config
current-context: ${cluster_path}
preferences: {}
clusters:
- cluster:
    certificate-authority-data: ${cluster_ca_certificate}
    server: ${cluster_endpoint}
  name: ${cluster_path}
contexts:
- context:
    cluster: ${cluster_path}
    user: ${cluster_path}
  name: ${cluster_path}
users:
- name: ${cluster_path}
  user:
    token: ${access_token}